
<script type="text/javascript" src="path/to/instafeed.min.js"></script>


<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'sophistinate',
        clientId: 'c8933bfc424d4012b549292c92538c41'
        accessToken: '232366354.1677ed0.b7901f96e29144128fe758ac31702e03'
    });
    feed.run();
</script>


<div id="instafeed"></div>