<h1>Bar Crawl 2015</h1>

<%= link_to 'Submit Registration', new_comment_path %>
<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %> says</td>
        <td>"<%= comment.comment %>"</td>
        <td>on <%= comment.created_at.strftime("%D") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

